<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <style>
    .button {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50; /* Green */
    padding: 15px 32px;
    border-radius: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    /*position: absolute;*/
    }
    </style>
  </ion-toolbar>
  
  <style>
    /*map*/
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
</ion-header>

<ion-content padding>
    <ion-item no-lines style="text-align: center">
    <img height="150px" src="http://reactbuy.com/cathlab/images/cath.png" alt="">
    </ion-item>

      <br>

    <form (click)="logForm()">
        <button class="button">login</button>
    </form>
  
    
    <div id="map" style="width:100% ; height:100% ; background-color: burlywood">Google Map</div>

    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    
</ion-content>
